
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h3{
    font-size: 25px;
    font-weight: bold;
    
}
body{
    margin-left: 160px;
    margin-right: 160px;
    background-color: rgba(241, 241, 243, 1);
}
.nav-bar{
    margin-top: 0px;
    display: flex;
    justify-content:space-between;
    margin-right: 26px;
}
.btn-1{
    margin-top: 23px;
}
.btn-pdg{
    padding:10px 20px;
    font-size: 18px;
    background-color: white;
    color: rgba(0, 106, 80, 1);
    border-radius:8px;
    border-color: rgba(0, 106, 80, 1);
}
.banner{
    display: flex;
    background-color: rgba(198, 228, 214, 1);
    padding: 80px 70px;
    margin-top: 20px;
    border-radius: 24px;
}
.sub-banner{
  margin-top: 5px;
}
.title-banner{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 30px;
}
.pra-1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom:30px;
    color: rgba(14, 14, 14, 1);
}
.btn-2{
    background-color: rgba(0, 106, 80, 1);
    padding: 15px 35px;
    font-size: 18px;
    color: white;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
}
.main-title{
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 32x;
    font-weight: bold;
}
.title-details{
    display: flex;
    max-width: auto;
    
}
h4{
    font-size: 20px;
    font-weight: bold;
}
.element{
    background-color: white;
    padding: 25px 25px;
    border-radius: 16px;
    justify-content: space-between;
    margin: 0px 24px 0px 0px;

}
.element-1{
    background-color: white;
    padding: 25px 25px;
    border-radius: 16px;
}
.element-2{
    background-color:rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px 32px;
    margin-right: 24px;
}
.btn-3{
    padding: 15px 25px;
    background-color: rgba(84, 144, 245, 1);
    color: white;
    border-radius: 8px;
    border: none;
}
.element-3{
    background-color:rgba(198, 228, 214, 1);
    border-radius: 16px;
    padding: 32px 32px;
    margin-right: 24px;
}
.btn-4{
    padding: 15px 25px;
    background-color: rgba(9, 161, 92, 1);
    color: white;
    border-radius: 8px;
    border: none;
}
.element-4{
    background-color:rgba(247, 235, 207, 1);
    border-radius: 16px;
    padding: 32px 32px;
    margin-right: 24px;
}
.btn-5{
    padding: 15px 25px;
    background-color: rgba(255, 194, 57, 1);
    color: white;
    border-radius: 8px;
    border: none;
}
.paragraph-m{
    margin-bottom: 32px;
}
